<section class="view-blog-post">
  <div class="container">
    <article class="blog-post">
      <div class="blog-post-header">
        <a href="#" data-view="blog" class="blog-back-link">← Back to Blog</a>
        <div id="blogPostMeta" class="blog-meta">
          <!-- Populated by JS -->
        </div>
        <h1 id="blogPostTitle"></h1>
      </div>
      <div id="blogPostContent" class="blog-post-content">
        <!-- Populated by JS -->
      </div>
    </article>
  </div>
</section>

